@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply flex items-center rounded p-4 shadow-lg overflow-hidden break-words border-gray-200 bg-gray-200 bg-opacity-90 dark:bg-opacity-95 hover:shadow-xl dark:bg-gray-800 dark:border-none;
  }

  .btn {
    @apply bg-cyan-500 text-gray-50 tracking-wider px-8 py-3 hover:bg-cyan-600 transition-colors ease-in duration-100;
  }

  .small-card {
    @apply flex flex-col px-4 py-2 rounded bg-gray-400 bg-opacity-20 text-gray-800 dark:text-gray-100 dark:bg-gray-900 dark:border-none w-full;
  }

  .card-title {
    @apply text-xs font-bold w-1/2 dark:font-bold text-cyan-600;
  }

  .highlight {
    @apply text-xs px-2 py-1 font-bold rounded-3xl flex justify-center items-center;
  }

  .repo-card {
    @apply py-4 px-3 break-words sm:px-8 flex flex-col h-fit lg:max-w-6xl mx-6 mb-4 lg:mx-4 xl:mx-auto rounded-xl overflow-hidden shadow-lg border border-gray-200 bg-gray-200 bg-opacity-95  hover:shadow-xl dark:border-none dark:bg-gray-800 dark:bg-opacity-95;
  }
}

/* Container */
.container {
  min-height: calc(100vh - 11rem);
}

/* Spinner */
.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: #3cefff;
  border-right-color: #3cefff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
